PORT=5001
MONGO_URI=mongodb+srv://dharmarajucaleb4_db_user:8EwSyeRs3vApljGg@cluster0.oqnc6uj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

NODE_ENV=development

CLERK_PUBLISHABLE_KEY=pk_test_cmVuZXdlZC1ibG93ZmlzaC04NS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_1ELW4OTFI9oZZz9dyJV3U9yhUcuaJKDnXKPUeEZe4s

STREAM_API_KEY=uv23m6gbjxrm
STREAM_API_SECRET=pqxstz93y79t44qwt9trr474af297z4ezsa93kk49tr68ja557kjuxgvedd2hzwj

SENTRY_DSN=https://5353c0c865a910ee50199fd4c972d304@o4512111344615424.ingest.us.sentry.io/4512111377711104


INNGEST_EVENT_KEY=your_inngest_event_key_here
INNGEST_SIGNING_KEY=your_inngest_signing_key_here

CLIENT_URL=http://localhost:5173